@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

* {
  transition: all 0.3s ease-out;
}

html, body{
  margin: 0;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 14px;

}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: linear-gradient(to right, #11998e, #38ef7d);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 240px;
  border-radius: 4px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1.5px solid #f2f8f9;
  cursor:pointer;
  padding-top: 10px;

}

.card2 img{
  padding: 32px 20px 10px 20px;
  width: 100%;
  height: 65%;
}

.card2:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
  }

  .card2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(to right, #11998e, #38ef7d);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  .card2:hover:before {
    transform: scale(2.15);
  }

  .go-corner {
    opacity: 0.7;
  }

  .form_group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
 }
  .form_field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
 }
  .form_field::placeholder {
    color: transparent;
 }
  .form_field:placeholder-shown ~ .form_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
 }
  .form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: #9b9b9b;
 }
  .form_field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
 }
  .form_field:focus ~ .form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
 }

  .form_field:required, .form_field:invalid {
    box-shadow: none;
 }

 .movie_card {
  position: absolute;
  display: block;
  width: 800px;
  height: 350px;
  margin: 100px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;

}
.movie_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}
.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}

.movie_desc{
  margin-top: px;
}

.movie_card .info_section button{
  background-color: transparent;
  color: rgb(161, 161, 161);
  border: none;
  float: right;
  font-size: 18px;
  outline: none;
  padding: 5px 10px 0 0 ;
  font-weight: bold;
}

.movie_card .info_section button:hover{
  color: #252525;
}

.movie_card .info_section .movie_header h1 {
  color: #fff;
  font-weight: 400;
  font-size: 34px;
}
.movie_card .info_section .movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
  font-size: 22px;
}
.minutes {
  display: inline-block;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}
.movie_card .info_section .movie_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
}
.movie_desc {
  padding: 25px;
  height: 50%;
}
.text {
  color: #cfd6e1;
  font-size: 14px;
}

.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}
@media screen and (min-width: 768px) {
  .movie_header {
    width: 60%;
 }
  .movie_desc {
    width: 50%;
 }
  .info_section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
 }
  .blur_back {
    width: 50%;
    background-position: -40% 10% !important;
 }
}
@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
 }
  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
 }
  .movie_header {
    width: 100%;
    margin-top: 85px;
 }
  .movie_desc {
    width: 100%;
 }
  .info_section {
    display: inline-grid;
 }
}

#tomb {
  box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
}
#tomb:hover {
  box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
}

#ave {
  box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);
  margin-bottom: 200px;
}
#ave:hover {
  box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
}



